.bar{
    appearance: none;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

@-moz-document url-prefix() {
  .bar {
    height: 12px; /* Firefox-specific height */
    background: transparent;
    border: none;
    padding-top: 5px;
    padding-bottom: 2px;
  }
}

::-webkit-progress-value{
    border-radius: 50px;
}

::-webkit-progress-bar{
    background:none;
}

.one::-webkit-progress-value{
    background: linear-gradient(90deg, red,red);
}

.two::-webkit-progress-value{
    background: linear-gradient(90deg, red, yellow);
}

.three::-webkit-progress-value{
    background: linear-gradient(90deg, red, yellow);
}

.four::-webkit-progress-value{
    background: linear-gradient(90deg, red, yellow);
}

.five::-webkit-progress-value{
    background: linear-gradient(90deg, red, yellow, green);
}

.six::-webkit-progress-value{
    background: linear-gradient(90deg, red, yellow, green);
}

.seven::-webkit-progress-value{
    background: linear-gradient(90deg, red, yellow, green);
}

.eight::-webkit-progress-value{
    background: linear-gradient(90deg, red, yellow, rgb(129, 155, 80),green);
}

.one::-moz-progress-bar {
    background: linear-gradient(90deg, red, red);
    border-radius: 50px;
}
.two::-moz-progress-bar {
    background: linear-gradient(90deg, red, yellow);
    border-radius: 50px;
}
.three::-moz-progress-bar {
    background: linear-gradient(90deg, red, yellow);
    border-radius: 50px;
}
.four::-moz-progress-bar {
    background: linear-gradient(90deg, red, yellow);
    border-radius: 50px;
}
.five::-moz-progress-bar {
    background: linear-gradient(90deg, red, yellow, green);
    border-radius: 50px;
}
.six::-moz-progress-bar {
    background: linear-gradient(90deg, red, yellow, green);
    border-radius: 50px;
}
.seven::-moz-progress-bar {
    background: linear-gradient(90deg, red, yellow, green);
    border-radius: 50px;
}
.eight::-moz-progress-bar {
    background: linear-gradient(90deg, red, yellow, rgb(129, 155, 80), green);
    border-radius: 50px;
}